.grid-1{
    display: grid;
    grid-template-rows: 10px 440px 300px;
    background-color: #faf3e9;


}
.Latest-images{
    display: grid;
    padding-top: 10rem;
    grid-template-rows: 220px 220px;
    grid-template-columns: 320px 200px 200px 200px;
    justify-content: center;
    grid-gap: 10px;
}
.arch1{
    height: 220px;
    width: 200px ;
}
.arch2{
    height: 270px;
  width: 200px ;
}
.arch6{
    height: 220px;
  width: 410px ;
  grid-column: span 2;
}
.arch7{
    height: 270px;
    width: 200px ;
  

}
.arch3{
    height: 270px;
  width: 200px ;
}

.arch5{
 
  grid-row: span 2;



}

.Latest-work{
    margin-top: 1rem;
    background-color: #edcfa9;
    height: 8rem;
    width: 40rem;

}
.Latest-title{

    font-family: 'Gotham', sans-serif ;
    font-weight: 500;
    font-size: 45px;
    margin-left: 60px;
    
}

.Interested{
    font-family: 'Gotham', sans-serif ;
    font-weight: 500;
    font-size: 25px;
    margin-top: 10rem;
}
.Contact-us{
    margin-top: 2rem;
    justify-self: center;
}
.let-talk{
    font-family: 'Gotham', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    margin-left: 110px;

}