.grid-1{
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    justify-content: flex-start;
    align-items: center;
    height: 70rem;


}
.h1-title{
    font-family: 'Gotham', sans-serif ;
    font-weight: 500;
    transform: rotate(90deg) translate( 39.5rem , -31.8rem);
    font-size: 30px;
    opacity: 0.8;
    position: absolute;
    z-index: 20;

}
.Latest-images{
    display: grid;
    background-color: rgb(24, 24, 24);
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    height: 29rem;
    width: 60rem;
    grid-template-rows: 220px 220px;
    grid-template-columns: 320px 200px 200px 200px;
    justify-content: center;
    align-content: center;
    justify-self: center;
    grid-gap: 50px;
    z-index: 10;
}
.arch1{
    height: 220px;
    width: 200px ;
}
.arch2{
    height: 250px;
  width: 200px ;
}
.arch6{
    height: 220px;
  width: 450px ;
  grid-column: span 2;
}
.arch7{
    height: 250px;
    width: 200px ;


}
.arch3{
    height: 250px;
  width: 200px ;
}

.arch5{

  grid-row: span 2;
  height: 520px;



}

.Latest-work{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 25rem;
    width: 100% ;
}
.cover-photo{
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/bg.jpg");
     background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    z-index: 30;
    width: 53rem;

}
.Latest-title{

    font-family: 'Gotham', sans-serif ;
    font-weight: 500;
    font-size: 45px;
    color: rgb(192, 192, 192);
    margin-right: 8rem;

}
.image-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(190, 190, 190);
    z-index: 30;
    opacity: 0.7;

}
.white-div{
    background-color: white;
    height: 50rem;
}
.capturing-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: rgb(190, 190, 190);
    z-index: 30;
    opacity: 0.7;

}

.Interested{
    font-family: 'Gotham', sans-serif ;
    font-weight: 500;
    font-size: 25px;
    margin-top: 10rem;
}
.Contact-us{
    margin-top: 2rem;
    justify-self: center;
}
.let-talk{
    font-family: 'Gotham', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    margin-left: 110px;

}