.slideshow-container{
    margin-top: -150px ;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
  
  }
  .slideshow-container1{
    background-color: rgb(117, 14, 14);
    width: 100%;
    height: 80%;
  
  }
  .App-header {
    background-color: #bfc8da;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.img3{
  height: 300px;
  width: 261px ;
  z-index: 10;
  margin-top: 50px;
  transform: translateX(-100px);


}
.img4{
  height: 302px;
  width: 290px ;
  margin-top: 100px;
  z-index: 20;
  transform: translateX(40px);
;
}
.img5{
  height: 400px;
  width: 320px ;
  margin-top: 40px;
  z-index: 10;
  transform: translateX(140px)
;
}
.img2{
  height: 501px;
  width: 400px ;
  margin-top: 20px;
;
}
.img6{
  height: 360px;
  width: 280px;
  min-width: 260px;
  z-index:0;
  margin-top: 50px;
  margin-right: 50px;
 transform: translateX(-210px);
}
.img1{
  height: 350px;
  width: 280px ;
  margin-top: 151px;
  margin-left: 50px;
  z-index: 5;
  transform: translateX(200px);
}
.main-title{
  position: relative;
  color: rgb(255, 255, 255);
  z-index: 100;
  width: 670px;
  transform: translate(430px , 150px);
  font-size: 4rem;
  box-shadow: 0 4px 8px 0 rgba(53, 53, 53, 0.253);
  background-color: rgba(14, 14, 14, 0);
 
}
@media (max-width:1000px)
{
  .slideshow-container{
    margin-top: -150px ;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    width: 120%;
    height: 100%;
  
  }
  
}